ul.nice-menu {
	list-style: none; margin: 0px; padding: 0px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
ul.nice-menu ul {
	list-style: none; margin: 0px; padding: 0px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
ul.nice-menu li {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; float: left; background-color: rgb(238, 238, 238);
}
ul.nice-menu a {
	padding: 0.3em 5px;
}
ul.nice-menu ul {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) currentColor currentColor; border-image: none; left: -1px; top: 1.8em; margin-right: 0px;
}
ul.nice-menu ul li {
	width: 12.5em;
}
ul.nice-menu-right {
	width: 12.5em;
}
ul.nice-menu-left {
	width: 12.5em;
}
ul.nice-menu-right li {
	width: 12.5em;
}
ul.nice-menu-left li {
	width: 12.5em;
}
ul.nice-menu-right ul {
	left: 12.5em; top: -1px; width: 12.5em;
}
ul.nice-menu-right ul ul {
	left: 12.5em; top: -1px; width: 12.5em;
}
ul.nice-menu-right li.menuparent {
	background: url("../images/arrow-right.png") no-repeat right rgb(238, 238, 238);
}
ul.nice-menu-right li li.menuparent {
	background: url("../images/arrow-right.png") no-repeat right rgb(238, 238, 238);
}
ul.nice-menu-right li.menuparent:hover {
	background: url("../images/arrow-right.png") no-repeat right rgb(204, 204, 204);
}
ul.nice-menu-right li li.menuparent:hover {
	background: url("../images/arrow-right.png") no-repeat right rgb(204, 204, 204);
}
ul.nice-menu-left li ul {
	left: -12.65em; top: -1px; width: 12.5em;
}
ul.nice-menu-left li ul li ul {
	left: -12.65em; top: -1px; width: 12.5em;
}
ul.nice-menu-left li.menuparent {
	background: url("../images/arrow-left.png") no-repeat left rgb(238, 238, 238);
}
ul.nice-menu-left li li.menuparent {
	background: url("../images/arrow-left.png") no-repeat left rgb(238, 238, 238);
}
ul.nice-menu-left li.menuparent:hover {
	background: url("../images/arrow-left.png") no-repeat left rgb(204, 204, 204);
}
ul.nice-menu-left li li.menuparent:hover {
	background: url("../images/arrow-left.png") no-repeat left rgb(204, 204, 204);
}
ul.nice-menu-left a {
	padding-left: 14px;
}
ul.nice-menu-left ul a {
	padding-left: 14px;
}
ul.nice-menu-down {
	border: 0px currentColor; border-image: none; float: left;
}
ul.nice-menu-down li {
	border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
ul.nice-menu-down li li {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
ul.nice-menu-down ul {
	left: 0px;
}
ul.nice-menu-down ul li {
	clear: both;
}
ul.nice-menu-down li ul li ul {
	left: 12.5em; top: -1px;
}
ul.nice-menu-down .menuparent a {
	padding-right: 15px;
}
ul.nice-menu-down li.menuparent {
	background: url("../images/arrow-down.png") no-repeat right rgb(238, 238, 238);
}
ul.nice-menu-down li.menuparent:hover {
	background: url("../images/arrow-down.png") no-repeat right rgb(204, 204, 204);
}
ul.nice-menu-down li li.menuparent {
	background: url("../images/arrow-right.png") no-repeat right rgb(238, 238, 238);
}
ul.nice-menu-down li li.menuparent:hover {
	background: url("../images/arrow-right.png") no-repeat right rgb(204, 204, 204);
}
ul.nice-menu li {
	margin: 0px; padding-left: 0px; background-image: none;
}
#header-region ul.nice-menu li {
	background: rgb(238, 238, 238); margin: 0px; padding-top: 0.1em; padding-bottom: 0.1em;
}
#header-region ul.nice-menu ul {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) currentColor currentColor; border-image: none; left: -1px; top: 1.8em; margin-right: 0px;
}
#header-region ul.nice-menu ul {
	top: 1.7em;
}
#header-region ul.nice-menu-down li ul li ul {
	left: 12.5em; top: -1px;
}
#header-region ul.nice-menu-down li.menuparent {
	background: url("../images/arrow-down.png") no-repeat right rgb(238, 238, 238);
}
#header-region ul.nice-menu-down li.menuparent:hover {
	background: url("../images/arrow-down.png") no-repeat right rgb(204, 204, 204);
}
#header-region ul.nice-menu-down li li.menuparent {
	background: url("../images/arrow-right.png") no-repeat right rgb(238, 238, 238);
}
#header-region ul.nice-menu-down li li.menuparent:hover {
	background: url("../images/arrow-right.png") no-repeat right rgb(204, 204, 204);
}
